body{
    margin: 0;
    background-image: url("/src/assets/5562093.jpg");
}

.topNavigation {
    background-color: #e1e1e1;
    overflow: hidden;
    border-radius: 30px;
    height: 110px;
}

.topNavigation a {
    float: right;
    color: #373737;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    position: relative;
    bottom: 40px;
    font-size: 20px;
    font-family: "Montserrat Light", sans-serif;
}

h3 {
    max-width: 300px;
    color: #373737;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 110px;
}
img.selfPortrait{
    max-width: 100px;
    height: 70px;
    width: 70px;
    position: relative;
    bottom: 45px;
    left: 25px;
}
