body {
    margin: 0;
    background-image: url("/src/assets/5562093.jpg");
  }
  
  .topNavigation {
    background-color: #e1e1e1;
    overflow: hidden;
    border-radius: 30px;
    height: 110px;
    position: relative;
  }
  
  .topNavigation a {
    float: right;
    color: #373737;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat Light", sans-serif;
    position: relative;
    top: 20px;
  }
  
  h3 {
    max-width: 300px;
    color: #373737;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 110px;
  }
  
  .selfPortrait {
    max-width: 100px;
    height: 70px;
    width: 70px;
    position: relative; 
    bottom: 95px; 
    left: 25px;
  }
  
  @media screen and (max-width: 768px) {
    .topNavigation {
      height: 70px;
    }
  
    .topNavigation a {
      padding: 5px 10px;
      font-size: 15px;
      font-family: "Montserrat Light", sans-serif;
      right: 40px;
      bottom: 10px;
    }

    h3 {
      visibility: hidden;
    }
  
    img.selfPortrait {
      width: 40px;
      height: 40px;
      position: relative;
      bottom: 55px; 
      left: 25px;
    }
  }
  