.App h1 {
  color: #373737;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 150px;
  font-size: 40px;
  position: relative;
  bottom: 70px;
}

.App h2 {
  position: relative;
  color: #373737;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  bottom: 430px;
  padding: 200px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .App h1 {
    padding: 50px;
    font-size: 30px;
    bottom: 30px;
  }

  .App h2 {
    padding: 20px;
    font-size: 12px;
    bottom: 100px;
  }
}
